/* Style the title of the game */
#title {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
    text-align: center;
    margin: 0px 100px 2px 100px;
    padding: 18px;
    background-color: coral; 
    border-style: solid;
    border-width: 2px;
}

/* Style the main body of the game */
#game {
    font-family: 'Josefin Sans', sans-serif;
    text-align: center;
    line-height: 20px;
}

/* Style the "Instructions" part of the game */
#press {
    border-style: solid;
    border-width: 1px;
    padding: 5px 4px 4px 4px;
    margin: 0px 100px 20px 100px;
    font-size: 20px;
}

/* Style the currentword paragraph */
#currentword {
    text-decoration: underline;
}